@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

@media screen and (min-width: 600px) and (max-width: 768px){
    body{
        background: url('imagens/back-tablet.jpg');
        background-size: cover;
        wi

    }

    
}

@media screen and (min-width:768px) and (max-width: 1080px) {
    body{
        background: url('imagens/back-pc.jpg');
        background-size: cover;
    }
    
}

@media screen  and (min-width: 1080px) and (max-width: 1920px) {
    body{
        background: url('imagens/back-tv.jpg');
    }
}
