@charset "UTf-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

#tv,#print,#tablet,#pc{
    display: none;
}

html, body{
    width: 100vw;
    height: 100vh;
}



body{
    background-image: url('imagens/back-phone.jpg');
    background-size: cover;
    background-position: center center;
}

main{
    display: block;
    margin: auto;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.726);
    background-position: center center;   
   padding: 10px;
}

h1{
    text-align: center;
    color: white;
    text-shadow: 2px 2px 3px black;
}

img{
    display: block;
    margin: auto;
}