@charset "UTF-8";

@font-face{
    font-family: 'sriracha';
    src: url(Sriracha-Regular.ttf) format('truetype');

    }
    
*{
    margin: 0%;
    padding: 0%;
}

header{
    background-color: rgb(14, 12, 12);
    height: 180px;
}

h1{
    font-family: sriracha, sans-serif;
    color: white;
    font-weight: bolder;
    text-align: center;
    font-size: 3.8em;
    padding: 5px;
}

.autor{
    font-family: sans-serif;
    color: white;
    font-size: 1em;
    text-align: center;
    margin-top: 20px;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
}

a:hover{
    
    text-decoration: underline;
}